extends layout

block content
  .row
    .col-sm-4
      .video-container
        video(id="video-1" autoplay loop)
          source(src="http://www.wowsport.io/image/bg-video.mp4" type="video/mp4")
        h3 Title
        p Lorem ipsum dolor
        p
          a(href="/tag/A") tag
          | ,&nbsp;
          a(href="/tag/B") tag
    .col-sm-4
      .video-container
        video(id="video-1" loop)
          source(src="http://www.wowsport.io/image/bg-video.mp4" type="video/mp4")
        h3 Title
        p Lorem ipsum dolor
        p
          a(href="/tag/A") tag
          | ,&nbsp;
          a(href="/tag/B") tag
    .col-sm-4
      .video-container
        video(id="video-1" loop)
          source(src="http://www.wowsport.io/image/bg-video.mp4" type="video/mp4")
        h3 Title
        p Lorem ipsum dolor
        p
          a(href="/tag/A") tag
          | ,&nbsp;
          a(href="/tag/B") tag
